In [47]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import subprocess
from modules.blaster import blastn_blaster

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [86]:
data_1000 = pd.read_csv("./dummy_data/1000nt_seqs_1chr.csv", sep=",", header=0)
print(data_1000.shape)
data_1000.head(2)

(409, 14)

,qseqid,sseqid,pident,length,qstart,qend,sstart,send,evalue,bitscore,qlen,slen,sstrand,sseq
0,LiSIDER2-32-1141454r,LinJ.01,NaN,NaN,NaN,NaN,111590.0,110591.0,NaN,NaN,NaN,1000,minus,CCAAACCCCCAACAACGAGAAGCGCTGCCCTGCTTTTCCCTTCTGC...
1,LiSIDER2-32-18439r,LinJ.01,NaN,NaN,NaN,NaN,114357.5,113358.5,NaN,NaN,NaN,1000,minus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...

In [85]:
data_2nd_blast_pre = pd.read_csv("./dummy_data/second_blaster_1chr.csv", sep=",", header=0)
data_2nd_blast = data_2nd_blast_pre[data_2nd_blast_pre["qseqid"] != data_2nd_blast_pre["sseqid"]]
data_2nd_blast_removed = data_2nd_blast_pre[data_2nd_blast_pre["qseqid"] == data_2nd_blast_pre["sseqid"]]
data_2nd_blast

,qseqid,sseqid,pident,length,qstart,qend,sstart,send,evalue,bitscore,qlen,slen,sstrand,sseq
1,Seq_1,Seq_5,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...
2,Seq_1,Seq_4,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...
3,Seq_1,Seq_3,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...
4,Seq_1,Seq_2,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...
6,Seq_1,Seq_6,100.0,997,1,997,4,1000,0.0,1842,1000,1000,plus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17696,Seq_406,Seq_375,100.0,632,1,632,369,1000,0.0,1168,1000,1000,plus,ACCACGCTGCTCCAAGATACTGCACCGCAGTCATACGAGGCACATC...
17698,Seq_407,Seq_217,100.0,769,1,769,769,1,0.0,1421,1000,1000,minus,CAGCAGCGGCAGCGGCCGCCGGCGCGAAGAGGAAGATATGCGGAGC...
17699,Seq_407,Seq_216,100.0,769,1,769,769,1,0.0,1421,1000,1000,minus,CAGCAGCGGCAGCGGCCGCCGGCGCGAAGAGGAAGATATGCGGAGC...
17700,Seq_407,Seq_215,100.0,769,1,769,769,1,0.0,1421,1000,1000,minus,CAGCAGCGGCAGCGGCCGCCGGCGCGAAGAGGAAGATATGCGGAGC...
17701,Seq_407,Seq_218,100.0,766,1,766,766,1,0.0,1415,1000,1000,minus,CAGCAGCGGCAGCGGCCGCCGGCGCGAAGAGGAAGATATGCGGAGC...

In [82]:
data_2nd_blast_removed

,qseqid,sseqid,pident,length,qstart,qend,sstart,send,evalue,bitscore,qlen,slen,sstrand,sseq
0,Seq_0,Seq_0,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CCAAACCCCCAACAACGAGAAGCGCTGCCCTGCTTTTCCCTTCTGC...
5,Seq_1,Seq_1,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...
18,Seq_2,Seq_2,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...
31,Seq_3,Seq_3,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...
44,Seq_4,Seq_4,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CGTCGGACAGCAGTGCACTGTTTCGTGTTGCGGTGCGGCTATCGAC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17602,Seq_404,Seq_404,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,AGGGACCACGCTGCTCCAAGATACTGCACCGCAGTCATACGAGGCA...
17633,Seq_405,Seq_405,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,AGGGACCACGCTGCTCCAAGATACTGCACCGCAGTCATACGAGGCA...
17665,Seq_406,Seq_406,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,ACCACGCTGCTCCAAGATACTGCACCGCAGTCATACGAGGCACATC...
17697,Seq_407,Seq_407,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,CAGCAGCGGCAGCGGCCGCCGGCGCGAAGAGGAAGATATGCGGAGC...
17702,Seq_408,Seq_408,100.0,1000,1,1000,1,1000,0.0,1847,1000,1000,plus,ACAGACCCCAACGCATACGCGCACGTGCACGTAGGGCCCCGATGCA...

In [79]:
test1 = pd.DataFrame(data_2nd_blast["sseqid"].value_counts())
test1.to_csv("./dummy_data/delete-1.csv", sep=",", header=True, index=True)

In [63]:
data_2nd_blast_grouped = data_2nd_blast.groupby("sseqid")

In [89]:
for name, group in data_2nd_blast_grouped:
    print(name)
    print(group.columns)
    print(len(group.columns))
    break

Seq_1
Index(['qseqid', 'sseqid', 'pident', 'length', 'qstart', 'qend', 'sstart',
       'send', 'evalue', 'bitscore', 'qlen', 'slen', 'sstrand', 'sseq'],
      dtype='object')
14

In [91]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(0)

# Create a random DataFrame
data = np.random.randn(5, 3)
df = pd.DataFrame(data, columns=['A', 'B', 'C'])

# Print the DataFrame
print(df)

          A         B         C
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
2  0.950088 -0.151357 -0.103219
3  0.410599  0.144044  1.454274
4  0.761038  0.121675  0.443863

In [92]:
df2 = pd.DataFrame()

In [93]:
all_df = pd.concat([df, df2], ignore_index=True)

In [94]:
all_df

          A         B         C
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
2  0.950088 -0.151357 -0.103219
3  0.410599  0.144044  1.454274
4  0.761038  0.121675  0.443863